.linkedIn {
    font-size: 40px;
    color: blue;
    margin-right: 25px;
}

.insta {
    font-size: 40px;
    color: orangered;
    margin-right: 25px;
}

.face {
    font-size: 40px;
    color: blue;
    margin-right: 25px;
}

.X {
    font-size: 40px;
    margin-right: 25px;
    color: black;
}